.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    input {
        width: 540px;
        text-align: center;
    }
    label {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 8px;
        font-family: 'Inter', sans-serif;
    }
    .firstName, .birthday, .sex {
        display: flex;
        flex-direction: column;
        span {
            color: #00FF85;
            font-weight: bold;
        }
        .invalid_field {
            color: red;
        }
    }
    .sex {
        .dropdown {
            width: 540px;
            height: 44px;
            .template_selected {
                display: flex;
                justify-content: center;
                color: #495057;
            }
        }
    }

    .form_button {
        margin-top: 30px;
        text-align: center;
        button {
            background: #F959E9;
            width: 328px;
            height: 36px;
            color: #FFF;
            text-align: center;
            border-radius: 16px;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}
